*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
body
{
.box1
{
	height:100vh;
	width:100%;
	background-image:url('images/sketch.jpg');
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
.box2
{
	height:100vh;
	width:100%;
	background-image:url('images/background.jpg');
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.box3
{
	height:100vh;
	width:100%;
	background-image:url('images/sketch.jpg');
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
}
}