.one
{
font-family:Gill Sans;
font-size:32px;
color:red;
font-weight:600;
text-align:center;
}

.two
{
text-align:left;
}

.three
{
text-align:center;
}
.four
{
text-align:justify;
}
b
{
line-height:40px;
}
.five
{
letter-spacing:5px;
}
.six
{
word-spacing:10px;
}

a
{
text-decoration:none;
}
.seven
{
font-style:italic;
}
.eight
{
text-transform:uppercase
}
.nine
{
text-align:right;
}